<section class="photo-collection">
  <ul class="photo-carousel carousel">
    {% for image in images %}
      <li class="photo-item" data-label="{{ image.id }}">
        <picture>
            {% comment %} Resolution switching {% endcomment %}
          <source
            media="(max-width: 500px)"
            srcset="https://fdnd-agency.directus.app/assets/{{ image.foto }}?format=avif&width=250&height=400"
            type="image/avif"
            loading="lazy">

            {% comment %} Webp format {% endcomment %}
          <source
            srcset="https://fdnd-agency.directus.app/assets/{{ image.foto }}?format=webp&width=300&height=400"
            type="image/webp"
            loading="lazy">

            {% comment %} Fallback {% endcomment %}
          <img
            src="https://fdnd-agency.directus.app/assets/{{ image.foto }}?width=300&height=400"
            alt="{{ image.types }} carousel foto"
            loading="lazy"
            style="background: #969494;">
        </picture>
      </li>
    {% endfor %}
  </ul>
</section>

<style>

  /* Photo collection */
  .photo-collection {
    padding: 2rem 1rem;
    border-radius: 2rem;
    text-align: center;
  }

  /* Photo arousel */
  .photo-carousel {
    display: flex;
    gap: 1.2rem;
    padding: 1rem;

    /* Fallback */
    overflow-x: auto;
  }


  /* Photo item */
  .photo-item img {
    height: 400px;
    width: auto;
    border-radius: 1rem;
    display: block;
  }

  /* Css Carousel */
  .carousel {
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    > li {
      scroll-snap-align: center;
    }

    &::scroll-button(*) {
      height: 50px;
      width: 50px;
      background-color: var(--color-accent-dark);
      border-radius: 50%;
      cursor: pointer;
      margin-top: 1em;
      margin-left: 1em;
    }

    &::scroll-button(left) {
      position-area: inline-start center;
      content: "" / "Scroll Left";
    }

    &::scroll-button(right) {
      position-area: inline-end center;
      content: "" / "Scroll Right";
    }

     &::scroll-button(*):focus-visible {
      outline-offset: 5px;
    }
     &::scroll-button(*):hover {
      transform: scale(1.2);
    }
  }
</style>